* footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100svw;
  margin: auto;
  column-gap: 10px;
}
.footerContainer {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  padding: 50px;
  align-items: center;
  box-sizing: border-box;
}
.footerLeft,
.footerCenter,
.footerRight {
  justify-content: end;
  width: 100svw;
  height: auto;
  margin-left: 70px;
  margin-right: auto;
}

@media (max-width: 768px) {
  footer .footerContainer {
    white-space: nowrap;
    flex-direction: column;
    align-items: stretch;
  }
  footer .footerLeft,
  .footerCenter,
  .footerRight {
    width: 0svw;
    margin-inline: 0px;
  }
  footer .copyRight {
    padding-right: 0px;
    display: none;
  }
  footer .helpText {
    padding-left: 0px;
  }
}

.footerLeft {
  display: flex;
  flex-direction: column;
}

.footerHead {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.footerCenter {
  display: flex;
  flex-direction: column;
}

.location {
  display: flex;
  margin-top: 5px;
}

.footerphone {
  display: flex;
  flex-direction: row;
}

.footerLogo {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.footerPhoneIcon,
.chef,
.footerPhoneIcon,
.footerLocationIcon {
  width: 20px;
  height: 20px;
}

.footerLeft:hover,
.footerCenter:hover,
.footerRight:hover {
  white-space: nowrap;
  /* font-size: 1.3em; */
  color: rgb(38, 38, 117);
}

.footerHelp {
  background-color: #78a083;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  border: 1px solid black;

  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

#Subscribe {
  size: 2px;
}
.footerForm {
  margin-bottom: 10px;
}
.socialIcons {
  margin-top: 30px;
  width: 30px;
  height: 30px;
}
.helpText {
  padding-left: 85px;
}
.copyRight {
  padding-right: 85px;
}

.copyRight {
  display: flex;
  flex-direction: row;
}
.footerHeader {
  margin-bottom: 25px;
}
.footerIcons {
  margin-left: 10px;

  gap-row: 50px;
}
