* footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  width: 100vw;
  height:100vh;
  margin: auto;
  column-gap: 10px;
  
}
.footerContainer {
 
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid black;
  padding:50px;
  padding-left: 130px;
  box-sizing: border-box;
  
 
 
}
.footerLeft,
.footerCenter,
.footerRight {
  justify-content: center;
  width: 100vh;
  height:auto;
  margin-left: 70px;
  
  
}

@media (max-width: 768px) {
  footer .footerContainer {
    white-space: nowrap;
    flex-direction: column;
    align-items: stretch; 
  }
}



.footerLeft {
  display: flex;
  flex-direction: column;
  
}

.footerHead {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.footerCenter {
  
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-right: 0px;
  
}
.footerRight {
  margin-left: 0px;
}

.location {
  display: flex;
  margin-top: 5px;
}

.footerphone {
  display: flex;
  flex-direction: row;
}

.footerLogo {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.footerPhoneIcon, .chef, .footerPhoneIcon, .footerLocationIcon {
  width: 20px;
  height: 20px; 
}

.footerLeft:hover,
.footerCenter:hover,
.footerRight:hover {
  white-space: nowrap;
  font-size: 1.3em; 
  color: rgb(38, 38, 117);
}

.footerHelp {
  background-color: #78a083;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 
  border: 1px solid black;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

#Subscribe {
  size: 2px;
}
.footerForm {
  margin-bottom: 10px;
}
.socialIcons {
  margin-top: 30px;
  width: 30px;
  height: 30px;
}
.helpText{
  padding-left: 85px;
}
.copyRight {
  padding-right: 85px;
}

.copyRight{
  display: flex;
  flex-direction: row;
}

